.produtos{
  justify-content: space-between;
  display: flex;
}

.arrow {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

p {
  color: #C92071

}

h2 {
  color: #474747
}