body{
  background-color: #f8f8fc;
}

.chip {
  background: #E7FF86;
  border-radius: 29px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  gap: 10px;
}

h4 {
  text-decoration: line-through;
  color: #8F8F8F
}
 
h6 {
  color: #474747
}

span {
  color: #474747
}

.price {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 26px;
}